:root {
  font-size: 10px;
}

body img {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -67;
}

#codein {
  text-align: center;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  font-family: 'Segoe UI', sans-serif;
}

main {
  margin: 1rem;
  color: white;
  backdrop-filter: blur(20px);
  border: 1px solid #fff7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

main h2 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 3rem;
}


label {
  font-size: 1.8rem;
}

hr {
  display: block;
  width: 100%;
  color: transparent;
  border-bottom: 2px solid #777;
}

input {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  overflow: hidden;
  border-radius: 0.7rem;
  outline: none;
  background: #666;
  color: white;
  border: 1px solid #fff7;
  padding: 1rem 0;
  margin: 1rem 0;
}

#mid {
  margin-bottom: 4rem;
}

a {
  text-decoration: none;
  font-size: 0.8em;
  color: #bbb;
}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  color: #bbb;
}

#bottom *:first-child {
  flex-grow: 1;
  text-align: left;
}

#bottom *:last-child {
  flex-grow: 1;
  text-align: right;
}

main #p {
  font-size: 1.3rem;
  text-align: left;
}

main form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main table {
  font-size: 1.4rem;
  width: 100%;
  text-align: left;
  padding: 0 2.5rem;
  font-weight: bold;
}

main table tr, main table td {
  margin: 0;
  padding: 0;
}

main footer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

main footer input {
  flex-grow: 0;
  display: inline-block;
  font-size: 1.3rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background: #222;
  border: transparent;
}

main footer input:disabled {
  color: #ccc;
  background: #555;
}

input[type=checkbox] {
  width: 2rem;
  height: 2rem;
}